.logo{
    height:150px;
    width:200px;
    
}
.navContainer{
    background-color: #FDFAEC;
opacity: 100%;
background-image: radial-gradient(#444cf7 0.5px, #FDFAEC 0.5px);
background-size: 10px 10px;
    
}
/* 
.nav-container{
    display: flex;
    flex-direction: row;
    
}

.avatar{
    display: flex;
} */