/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/styling/hero.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
/* .background{
    z-index: -1;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
} */
/* a{
    text-decoration: none;
}
p{
    font-family:'Barlow';
} */
/* body{
    background: url('../assets/HeroBackground.png');
    background-size: cover;
} */
.hero_floating__Fj9SN {  
    animation-name: hero_floating__Fj9SN;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    /* margin-left: 30px;
    margin-top: 5px; */
    display: grid;
    /* flex-direction: row; */
    align-items: center;
    margin-left: auto;
    position: relative;
    margin-right: auto;
}

#hero_aspire-btn__BIWbR{
    background-color: #9CB2FF;
    color:white;
    margin-top: 10px;
}
 
#hero_aspire-btn__BIWbR:hover{
    background-color: #444cf7;
    color: white;
}
@keyframes hero_floating__Fj9SN {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 10px); }
    100%   { transform: translate(0, -0px); }    
}

/* .content{
    display: grid;
    /* flex-direction: row; */
    /* align-items: center;
    margin-right: auto;
    margin-left: auto;
    padding-left: 50px;
    position: relative;
    margin-right: auto; */
/* }  */
/* .content-container{
        /* align-self: flex-start; */
        /* display: flex; */
        /* flex-wrap: wrap; */
        /* width: 500px; */
        /* text-align: center; */
        /* flex-direction: column;
        margin-left: auto;
        margin-right: auto; */
    
/* }  */
/* @media screen and (max-width: 780px){
    .content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding-bottom: 50px;
    }
    .hero + img{
        height: 200px;
        width: 198px;
    }
} */
